.trash {
   color: rgb(209, 91, 71);
}
.flag {
   color: rgb(248, 148, 6);
}
.panel-body {
   padding: 0px;
}
.panel-footer .pagination {
   margin: 0;
}
.panel .glyphicon,
.list-group-item .glyphicon {
   margin-right: 5px;
}
.panel-body .radio,
.checkbox {
   display: inline-block;
   margin: 0px;
}
.panel-body input[type='checkbox']:checked + label {
   text-decoration: line-through;
   color: rgb(128, 144, 160);
}
.list-group-item:hover,
a.list-group-item:focus {
   text-decoration: none;
   background-color: rgb(245, 245, 245);
}
.list-group {
   margin-bottom: 0px;
}

.field {
   display: flex;
   position: realtive;
   margin: 15em auto;
   max-width: 600px;
   flex-direction: row;
   -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.field > input[type='text'],
.field > button {
   display: block;
   font: 1.2em 'Open sans';
}

.field > input[type='text'] {
   flex: 1;
   padding: 0.6em 0.3em;
   border: 0.2em solid #819090;
   border-left: none;
   border-top: none;
}

.field > button {
   padding: 0.3em 0.3em;
   background-color: #819090;
   color: #fff;
   border: none;
}
